Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.pnpm-store
**/.pnpm-store
.turbo
**/.turbo
**/.next
**/.next-check
**/dist
**/*.tsbuildinfo
.git
**/node_modules
packages/native/target
packages/native/*.node
packages/native/*.node.sha256
