version: "3.5"

services:
  server:
    build:
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
        - NEXTAUTH_SECRET=mysecret
        - NEXTAUTH_URL=http:localhost:3030
    command:
      [
        "sh",
        "-c",
        "npx prisma migrate deploy && npx prisma db seed -- --environment production && node server.js",
      ]
    depends_on:
      - db
    ports:
      - "3030:3000"
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - DIRECT_URL=postgresql://postgres:postgres@db:5432/postgres
      - NEXTAUTH_SECRET=mysecret
      - NEXTAUTH_URL=http:localhost:3030

  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
    volumes:
      - database_data:/var/lib/postgresql/data

volumes:
  database_data:
    driver: local
