@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --primary-accent: 243 75.4% 58.6%;
    --hover-primary-accent: 239 83.5% 66.7%;

    --muted-green: 141 84.2% 92.5%;
    --muted-orange: 34 100% 91.8%;
    --muted-blue: 214 94.6% 92.7%;
    --muted-gray: 210 50% 91.1%;

    --accent-light-green: 138 76.5% 96.7%;
    --accent-dark-green: 112 100% 32%;

    --light-red: 329 77.8% 94.7%;
    --dark-red: 0 72.2% 50.6%;

    --light-yellow: 55 91.7% 95.3%;
    --dark-yellow: 32 81% 28.8%;

    --light-green: 141 84.2% 92.5%;
    --dark-green: 176 60.8% 19%;

    --light-blue: 214 94.6% 92.7%;
    --dark-blue: 217 91.2% 59.8%;

    --accent-light-blue: 251 95.2% 91.8%;
    --accent-dark-blue: 224 76.3% 38%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 83%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 88%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 88%;

    --border: 217.2 32.6% 27.5%;
    --input: 217.2 32.6% 27.5%;

    --primary: 210 40% 83%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 88%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;

    --primary-accent: 246 55% 70%;
    --muted-primary-accent: 239 83.5% 66.7%;

    --muted-blue: 226 60.7% 30.2%;
    --muted-green: 143 64.2% 24.1%;
    --muted-orange: 23 79.1% 33.7%;
    --muted-gray: 210 50% 25%;

    --light-red: 0 62.8% 30.6%;
    --dark-red: 0 90.6% 70.8%;

    --light-yellow: 32 81% 28.8%;
    --dark-yellow: 53 98.3% 76.9%;

    --light-green: 144 61.2% 20.2%;
    --dark-green: 142 76.7% 73.1%;

    --light-blue: 224 64.3% 32.9%;
    --dark-blue: 212 96.4% 78.4%;

    --accent-light-green: 192 21% 9%;
    --accent-dark-green: 124 21.8% 30.6%;

    --accent-light-blue: 263 60% 50.4%;
    --accent-dark-blue: 224 50% 90%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    height: 100%;
  }
}

@layer base {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"].appearance-none {
    -moz-appearance: textfield;
    appearance: none;
  }
}
