name: CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"
      - name: install dependencies
        run: |
          npm ci
      - name: Load default env
        run: |
          cp .env.dev.example .env
      - name: lint
        run: npm run lint

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - name: install dependencies
        run: |
          npm ci

      - name: Load default env
        run: |
          cp .env.dev.example .env

      - name: Run, migrate, seed DB
        run: |
          docker-compose -f docker-compose.dev.yml up -d
          npx --yes prisma migrate reset --force --skip-generate

      - name: Build
        run: npm run build

      - name: Start Langfuse
        run: (npm start&)

      - name: run tests
        run: npm run test

  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - name: install dependencies
        run: |
          npm ci

      - name: Load default env
        run: |
          cp .env.dev.example .env

      - name: Run, migrate, seed DB
        run: |
          docker-compose -f docker-compose.dev.yml up -d
          npx --yes prisma migrate reset --force --skip-generate

      - name: Build
        run: npm run build

      - name: Install playwright
        run: npx playwright install

      - name: Run e2e tests
        run: npm run test:e2e

  all-ci-passed:
    # This allows us to have a branch protection rule for tests and deploys with matrix
    runs-on: ubuntu-latest
    needs: [lint, tests, e2e-tests]
    if: always()
    steps:
      - name: Successful deploy
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failing deploy
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

  push-docker-image:
    needs: all-ci-passed
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/postgres
      NEXTAUTH_SECRET: "secret"
      SALT: "salt"
      NEXTAUTH_URL: "http://localhost:3030"
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    permissions:
      packages: write
      contents: read

    steps:
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha
            type=raw,value=latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            DATABASE_URL=${{ env.DATABASE_URL }}
            NEXTAUTH_SECRET=${{ env.NEXTAUTH_SECRET }}
            NEXTAUTH_URL=${{ env.NEXTAUTH_URL }}
            SALT=${{ env.SALT }}
